08092021Dev/Workflows/SendEmailVariable-29424ECF-6610-EC11-B6E6-000D3A2D74CF.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr7f2_sharedsharepointonline_a91bb"},"api":{"name":"shared_sharepointonline"}},"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cr7f2_sharedoffice365_7f67c"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SP_Site":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","type":"String","metadata":{"schemaName":"cr7f2_SP_Site"}},"SP_List":{"defaultValue":"37079a07-adf8-442c-a38d-95235e781a6a","type":"String","metadata":{"schemaName":"cr7f2_SP_List"}}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SP_Site')","table":"@parameters('SP_List')"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"krzysztof.bialoglowy@consultant.volvo.com","emailMessage/Subject":"Lits Items","emailMessage/Body":"<p>@{variables('FetchText')}</p>"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"FetchText","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"FetchText","value":"@{items('Apply_to_each')?['Title']}<br>"}}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}